.main-table-container{
    display: flex;
    justify-content: center;

}
.main-commission-table, .main-currency-tables{
    margin:30px 0;
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 930px;
}

.plans-container--slider{
    overflow-x: hidden;
    justify-content: center;
    gap: 80px;
}

footer{
    height: 100px;
}
.footer-left-container ul{
    display: flex;
    gap: 35px;
}